/* Search */
span {
  display: flex;
  .title {
    white-space: nowrap;
    padding-right: 1em;
  }
}

.stackIco {
  margin: 0px 3px 0px 3px;
}

.projectDisplay {
  display: flex;
  flex-flow: row;
  width: 98%;
  justify-content: center;
  .projectImages {
    width: 66%;
    justify-content: center;
    display: inherit;
    img {
      width: 90%;
    }
  }
  .projectDetails {
    width: 33%;
    *,
    * > * {
      color: white;
    }
    h4 {
      font-size: 1.25rem;
    }
    table {
      font-size: 1.5rem;
      margin-bottom: 0;
      tr {
        background-color: transparent;
        border: 0;
      }
      ul {
        margin-bottom: 0;
      }
      th {
        font-weight: bold;
        padding-bottom: 0;
      }
      td {
        padding-top: 0.75rem;
      }
    }
    p {
      font-size: 1.25rem;
    }
    .detailButton {
      justify-content: space-around;
    }
  }
}

// @include breakpoint(small) {
//   $size-header-pad: 1.5em;

//   /* Search */
//   .projectSearch {
//     display: block;
//     .title {
//       white-space: nowrap;
//       padding-right: 1em;
//     }
//   }
// }
