---
import Layout from '../layouts/Layout.astro';
import Gallery from '../components/Gallery/Gallery';
import ScrollToTop from '../components/ScrollToTop';
---

<Layout>
  <div id="main">
    <section id="one">
      <article>
        <header class="major">
          <h2>
            Developer, IT Admin, Communications Specialist,&nbsp;
            <br />
            Adaptable Problem Solver
          </h2>
        </header>
        <p>
          As a full-stack developer, I truly enjoy having the ability to shape and sculpt the nerves of the
          information systems we use every day.
          <br />
          I've always gravitated to electronics and technology throughout my life. From developing and experimenting
          with my home lab, to deploying and using radio and information systems in past careers, I am always keen
          to develop new skills and apply my experience and prior skills to find new solutions.
        </p>
      </article>
      <article>
        <p>
          <strong>Languages:</strong> <br />
          Javascript, Ruby, HTML, CSS, SQL <br />
          <strong>Frameworks:</strong> <br />
          React, SASS, Express, Axios, jQuery, EJS, Rails, NodeJS <br />
          <strong>Databases and CMS:</strong> <br />
          PostgreSQL (PSQL), Git, GitLab, Github, Jenkins <br />
          <strong>Testing, CD/CI:</strong> <br />
          JEST, Storybook, Cypress, Mocha, Chai, Rspec, CircleCI, Jenkins <br />
          <strong>Other Skills:</strong> <br />
          Networking, Server, and Desktop Administration, Linux, Project Management
        </p>
      </article>
      <article>
        <p>
          <strong>Education:</strong> <br />
          <strong>
            Lighthouse Labs <br /> Web Development - Jan 2021
          </strong>{' '}
          <br />
          12-week boot camp, teaching JavaScript, Ruby on Rails, React JS, Database and Data Modeling, Automated
          Testing, and Computer Science Fundamentals
          <br />
          <strong>
            Red River College <br /> Advanced Network Technology - May 2005
          </strong>{' '}
          <br />
          Network Administration (CCNP Level), Microsoft Server Administration, Unix, and Wireless Networks <br />
          Graduated with Dean's Honours
        </p>
      </article>
      <ul class="actions">
        <li>
          <span>
            <a
              href="https://www.canva.com/design/DAESCGsX-ak/Pc4kmpGUT0cMQiZxfJEPiQ/view"
              class="button"
              rel="noreferrer"
              target="_blank"
            >
              Learn More (Resume)
            </a>
          </span>
        </li>
      </ul>
    </section>

    <section id="two">
      <Gallery client:load />

      <ul class="actions">
        <li>
          <a href="https://github.com/CharlesP8412" class="button">
            GitHub Projects
          </a>
        </li>
      </ul>
    </section>

    <section id="three">
      <article>
        <h2>Get In Touch</h2>
        <p>
          If you are looking for talent for your company or organization please don't hesitate to contact me. I
          would enjoy discussing how I can contribute to your organization.
        </p>
      </article>
      <div class="row">
        <div class="4u 12u$(small)">
          <ul class="labeled-icons">
            <li>
              <h3 class="icon fa-envelope-o">
                <span class="label">Email</span>
              </h3>
              <a href="mailto:charles.prystupa@gmail.com">charles.prystupa@gmail.com</a>
            </li>
            <li>
              <h3 class="icon fa-home">
                <span class="label">Address</span>
              </h3>
              Kitchener-Waterloo, Ontario
              <br />
              Canada
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <ScrollToTop client:load />
</Layout>
