---
import Footer from './Footer.astro';
import avatar from '../images/avatar.jpg';
---

<header id="header">
  <div class="inner">
    <a href="#top" class="image avatar">
      <img src={avatar.src} alt="Chuck Prystupa Avatar" />
    </a>
    <h1>
      <strong>Chuck Prystupa&nbsp;</strong>
      <br />
      Full stack developer&nbsp;
      <br />
      Jack of all trades&nbsp;
      <br />
      Veteran&nbsp;
      <br />
    </h1>
  </div>
  <Footer />
</header>
